Repository Student-Labs-2024/vodimobile-kmp-app, pull requests merged in 2024-08, with the labels that each got.

#151 Optimization on screens
  androidApp/src/main/java/com/vodimobile/presentation/screens/about_order/AboutOrderScreen.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/about_order/AboutOrderViewModel.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/about_order/store/AboutOrderIntent.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/authorization/AuthorizationViewModel.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/orders/OrderViewModel.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/orders/OrdersScreen.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/orders/store/OrderIntent.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/registration/RegistrationViewModel.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/vehicle_fleet/VehicleFleetScreen.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/vehicle_fleet/VehicleFleetViewModel.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/vehicle_fleet/store/VehicleIntent.kt
Labels: enhancement, Android

#154 Complite Koin helper
  shared/src/iosMain/kotlin/com/vodimobile/di/KoinHelper.kt
Labels: hot fix, KMP

#152 Fix Local notifications
  androidApp/src/main/AndroidManifest.xml
  androidApp/src/main/java/com/vodimobile/MainActivity.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/reservation/ReservationScreen.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/reservation/ReservationViewModel.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/reservation/store/ReservationIntent.kt
  androidApp/src/main/java/com/vodimobile/service/fcm/VodimobileFirebaseMessagingService.kt
  androidApp/src/main/java/com/vodimobile/service/notification/NotificationsIds.kt
  androidApp/src/main/java/com/vodimobile/service/notification/VodimobileNotificationManager.kt
  androidApp/src/main/res/drawable/bid_notif_in_progress.png
  androidApp/src/main/res/values-en/notification.xml
  androidApp/src/main/res/values/notification.xml
  shared/src/commonMain/kotlin/com/vodimobile/domain/use_case/crm/GetAllPlacesUseCase.kt
Labels: enhancement, Android

#153 Name validation on the personal data screen
  androidApp/src/main/java/com/vodimobile/presentation/screens/edit_profile/EditProfileScreen.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/edit_profile/EditProfileViewModel.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/edit_profile/components/ProfileNameBlock.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/edit_profile/components/ProfileNameField.kt
  androidApp/src/main/java/com/vodimobile/presentation/utils/name_validator/NameValidator.kt
  androidApp/src/main/res/values-en/strings.xml
  androidApp/src/main/res/values/strings.xml
Labels: enhancement, Android

#155 Create builld apk.yml
  .github/workflows/android unit tests.yml
  .github/workflows/builld apk.yml
Labels: enhancement, Android

#158 feat: Changed VechileScreen
  androidApp/src/main/java/com/vodimobile/presentation/components/DateRentField.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/vehicle_fleet/VehicleFleetScreen.kt
Labels: hot fix, Android

#159 feat: Changed ProfileScreen
  androidApp/src/main/res/values-en/strings.xml
  androidApp/src/main/res/values/strings.xml
Labels: hot fix, Android

#160 feat: Changed string resources
  androidApp/src/main/res/values/strings.xml
Labels: hot fix, Android

#163 Fix often recomposition on vehicle fleet screen
  androidApp/src/main/java/com/vodimobile/navigation/NavGraph.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/vehicle_fleet/VehicleFleetScreen.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/vehicle_fleet/VehicleFleetViewModel.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/vehicle_fleet/store/VehicleIntent.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/vehicle_fleet/store/VehicleState.kt
Labels: hot fix, Android

#166 Adaptive splash icons
  androidApp/src/main/res/drawable-large/vodimobile_splash_logo.xml
  androidApp/src/main/res/drawable-normal/vodimobile_splash_logo.xml
  androidApp/src/main/res/drawable-small/vodimobile_splash_logo.xml
Labels: hot fix, Android

#164 Changed ReservationScreen
  androidApp/src/main/java/com/vodimobile/navigation/NavGraph.kt
  androidApp/src/main/java/com/vodimobile/presentation/components/TimePicker.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/reservation/ReservationViewModel.kt
Labels: hot fix, Android

#169 Changed theme
  androidApp/src/main/java/com/vodimobile/presentation/theme/Theme.kt
Labels: hot fix, Android

#167 Fix logout dialog
  androidApp/src/main/java/com/vodimobile/di/ViewModelModule.kt
  androidApp/src/main/java/com/vodimobile/navigation/NavGraph.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/logout/LogOutConfirmationDialog.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/logout/LogOutEffect.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/logout/LogOutIntent.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/logout/LogOutViewModel.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/orders/OrderViewModel.kt
Labels: hot fix, Android

#170 Fix dublicate phone error
  androidApp/src/main/java/com/vodimobile/presentation/screens/registration/RegistrationScreen.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/registration/RegistrationViewModel.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/registration/store/RegistrationEffect.kt
  androidApp/src/main/res/values-en/strings.xml
  androidApp/src/main/res/values/strings.xml
Labels: hot fix, Android

#161 Code docs
  androidApp/src/main/java/com/vodimobile/data/repository/repository.md
  androidApp/src/main/java/com/vodimobile/domain/model/model.md
  androidApp/src/main/java/com/vodimobile/domain/repository/repository.md
  androidApp/src/main/java/com/vodimobile/presentation/utils/date_formats/date_formats.md
  androidApp/src/main/java/com/vodimobile/presentation/utils/internet/internet.md
  androidApp/src/main/java/com/vodimobile/presentation/utils/sms/sms.md
  androidApp/src/main/java/com/vodimobile/presentation/utils/utils.md
  androidApp/src/main/java/com/vodimobile/service/service.md
  shared/shared.build.gradle.md
  shared/src/androidMain/kotlin/com/vodimobile/androidMain.md
  shared/src/commonMain/kotlin/com/vodimobile/data/data_store/data_store.md
  shared/src/commonMain/kotlin/com/vodimobile/data/repository/repository.md
  shared/src/commonMain/kotlin/com/vodimobile/di/di.md
  shared/src/commonMain/kotlin/com/vodimobile/domain/client/client.md
  shared/src/commonMain/kotlin/com/vodimobile/domain/model/remote/remote.md
  shared/src/commonMain/kotlin/com/vodimobile/domain/repository/repository.md
  shared/src/commonMain/kotlin/com/vodimobile/domain/storage/storage.md
  shared/src/commonMain/kotlin/com/vodimobile/utils/array_parser/array_parser.md
  shared/src/commonMain/kotlin/com/vodimobile/utils/bid/bid.md
  shared/src/commonMain/kotlin/com/vodimobile/utils/car_status/car_status.md
  shared/src/commonMain/kotlin/com/vodimobile/utils/cars/cars.md
  shared/src/commonMain/kotlin/com/vodimobile/utils/data_store/data_store.md
  shared/src/commonMain/kotlin/com/vodimobile/utils/date_formats/date_formats.md
  shared/src/commonMain/kotlin/com/vodimobile/utils/file/file.md
  shared/src/commonMain/moko-resources/moko-resources.md
  shared/src/src.md
Labels: documentation, Android, KMP

#172 feat: Changed UI
  androidApp/src/main/java/com/vodimobile/navigation/NavGraph.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/authorization/AuthorizationScreen.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/change_password/ChangePasswordScreen.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/contact/ContactScreen.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/edit_profile/EditProfileScreen.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/faq/FaqScreen.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/registration/RegistrationScreen.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/reservation/ReservationScreen.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/reset_password/ResetPasswordScreen.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/sms/SmsScreen.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/start_screen/StartScreen.kt
  androidApp/src/main/java/com/vodimobile/presentation/screens/vehicle_fleet/VehicleFleetScreen.kt
Labels: hot fix, Android
